.idea/
.DS_Store
批量多人提交版/历史学习数据/*
批量多人提交版/未完成情况/*
批量多人提交版/本期已学习情况/*
批量多人提交版/自动学习情况/*
批量多人提交版/需要学习的名单/*
批量多人提交版/config.ini
!批量多人提交版/历史学习数据/.gitkeep
!批量多人提交版/未完成情况/.gitkeep
!批量多人提交版/本期已学习情况/.gitkeep
!批量多人提交版/自动学习情况/.gitkeep
!批量多人提交版/需要学习的名单/.gitkeep
__pycache__/